### WHAT IS PYTHON?

*Python is a general-purpose programming language that is interpreted, object-oriented and dynamically-typed because it carries out type-checking at runtime.*

*The distinctive feature of Python is that it is an interpreted language. The Python IDLE (Integrated Development Environment) executes instructions one line at a time.*

### WHY PYTHON FOR MACHINE LEARNING?

*Python is currently the most popular programming language for research and development in Machine Learning.*

*According to Google Trends, the interest in Python for Machine Learning has spiked to an all-new high with other ML languages such as R, Java, Scala, Julia, etc. lagging far behind.*

In [6]:
# Press Shift+Enter to Run

import IPython
IPython.display.HTML('<iframe src="https://trends.google.com/trends/embed/explore/TIMESERIES?req=%7B%22comparisonItem%22%3A%5B%7B%22keyword%22%3A%22Python%20Machine%20Learning%22%2C%22geo%22%3A%22%22%2C%22time%22%3A%22today%205-y%22%7D%2C%7B%22keyword%22%3A%22R%20Machine%20Learning%22%2C%22geo%22%3A%22%22%2C%22time%22%3A%22today%205-y%22%7D%2C%7B%22keyword%22%3A%22Java%20Machine%20Learning%22%2C%22geo%22%3A%22%22%2C%22time%22%3A%22today%205-y%22%7D%2C%7B%22keyword%22%3A%22Scala%20Machine%20Learning%22%2C%22geo%22%3A%22%22%2C%22time%22%3A%22today%205-y%22%7D%2C%7B%22keyword%22%3A%22Julia%20Machine%20Learning%22%2C%22geo%22%3A%22%22%2C%22time%22%3A%22today%205-y%22%7D%5D%2C%22category%22%3A0%2C%22property%22%3A%22%22%7D&tz=-330&eq=date%3Dtoday%25205-y%26q%3DPython%2520Machine%2520Learning%2C%20R%2520Machine%2520Learning%2C%20Java%2520Machine%2520Learning%2C%20Scala%2520Machine%2520Learning%2C%20Julia%2520Machine%2520Learning" width="60%" frameborder="0" scrolling="0" style="border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.24) 0px 2px 2px 0px; height: 423px;"/>') # can't find image

#### FEATURES OF PYTHON

1. *Simple and easy to learn*
2. *Free and Open Source*
3. *Portable*
4. *Interpreter Based*
5. *Library Support*
6. *Supports different programming paradigm*
7. *Extensible*

### INSTALLING & WORKING ON PYTHON

_**STEP 1.** Go to www.python.com_

_**STEP 2.** Under Downloads tab, select latest version of python for your OS_

_**STEP 3.** Installing Jupyter Notebook: https://jupyter.org/install_

_**STEP 4:** Running Jupyter Notebook: https://jupyter.readthedocs.io/en/latest/running.html_

### BASICS OF PYTHON

#### PRINT COMMAND

In [7]:
# Python code for "Hello World" 
# nothing else to type...see how simple is the syntax. 
  
print("Hello World")

Hello World

In [8]:
# Python program to declare variables 
myNumber = 2
print(myNumber) 
  
myNumber2 = 2.5
print(myNumber2) 
  
myNumber ="helloworld"
print(myNumber)

2
2.5
helloworld

#### INPUT FROM USER

In [9]:
# Python program to illustrate getting input from user 
name = input("Enter your name: ") 
  
# user entered the name 'Piyush' 
print("Hello", name)

Enter your name: pIYUSH
Hello pIYUSH

In [10]:
# Python program to get input from user accepting only integer from the user 
num1 = int(input("Enter num1: "))  
num2 = int(input("Enter num2: ")) 
  
num3 = num1 * num2 
print("Product is: ", num3)

Enter num1: 5
Enter num2: 5
Product is:  25

#### STATEMENT, INDENTATION AND COMMENTS

##### STATEMENTS

*Instructions written in the source code for execution are called statements. There are different types of statements in the Python programming language like Assignment statement, Conditional statement, Looping statements etc. These all help the user to get the required output.*

_**Multi-Line Statements:** Statements in Python can be extended to one or more lines using parentheses (), braces {}, square brackets [], semi-colon (;), continuation character slash (\). When the programmer needs to do long calculations and cannot fit his statements into one line, one can make use of these characters._

In [0]:
#Declared using Continuation Character (\):
s = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9

#Declared using parentheses () :
n = (1 * 2 * 3 + 7 + 8 + 9)

#Declared using square brackets [] :
footballer = ['MESSI',
          'NEYMAR',
          'SUAREZ']

#Declared using braces {} :
x = {1 + 2 + 3 + 4 + 5 + 6 +
     7 + 8 + 9}

#Declared using semicolons(;) :
flag = 2; ropes = 3; pole = 4

##### INDENTATION

*A block is a combination of all these statements. Block can be regarded as the grouping of statements for a specific purpose. Most of the programming languages like C, C++, Java use braces { } to define a block of code. One of the distinctive features of Python is its use of indentation to highlight the blocks of code. Whitespace is used for indentation in Python. All statements with the same distance to the right belong to the same block of code. If a block has to be more deeply nested, it is simply indented further to the right.*

In [12]:
# Python program showing indentation 
  
site = 'www.python.org'
  
if site == 'www.python.org': 
    print('Redirecting...') 
else: 
    print('Check the URL') 
print('END')

Redirecting...
END

##### COMMENT

*Single Line Comment*

In [13]:
a, b = 1, 3 # Declaring two integers 
sum = a + b # adding two integers 
print(sum) # displaying the output

4

*Multi-Line Comment*

In [14]:
""" 
This would be a multiline comment in Python that 
spans several lines and then excutes the 
statement next to it. 

"""
print("Learning Python.")

Learning Python.

#### VARIABLES

*1. There are certain rules to what you can name a variable(called an identifier).*

*2. Python variables can only begin with a letter(A-Z/a-z) or an underscore(_).*

*3. Python is case-sensitive, and so are Python identifiers. Name and name are two different identifiers.*

*4. To assign a value to Python variables, you don’t need to declare its type. Just name it according to the rules, and type the value after the equal sign(=).*

*5. You can assign values to multiple Python variables in one statement.*

In [15]:
var = 2 # Declaration
_var = 3

Var = 4 # Case-Sensitive

var1,var2 = 'Piyush','Singla' # Multiple Assignment

print(var)
print(_var)
print(Var)
print(var1)
print(var2)

2
3
4
Piyush
Singla

In [16]:
print(type(var))

<class 'int'>

#### INDENTIFIERS

```
and | def | False | import| not | True| as | del | finally | in | or | try | assert | elif | for | is | pass | while | break | else 
| from | lambda | print | with | class | except | global | None | raise | yield | continue | exec | if | nonlocal | return
```

### DATA TYPES

#### NUMBERS



1.   INTEGER
2.   FLOAT
3.   COMPLEX
4.   BOOLEAN (TRUE/FALSE)

In [17]:
#int
#int stands for integer. This Python Data Type holds signed integers. We can use the type() function to find which class it belongs to.
#An integer can be of any length, with the only limitation being the available memory.

a=-7
print(a)

b=999999999999999999
print(b)

#float
#This Python Data Type holds floating-point real values. An int can only store the number 3, but float can store 3.25 if you want.

c=3.0
print(c)

#complex
#This Python Data type holds a complex number. A complex number looks like this: a+bj Here, a and b are the real parts of the number, and j is imaginary.

d=2+3j
print(d)

-7
999999999999999999
3.0
(2+3j)

In [18]:
# Use the isinstance() function to tell if Python variables belong to a particular class. It takes two parameters- the variable/value, and the class.

print(isinstance(a,complex))
print(isinstance(a,int))

False
True

In [19]:
# Use the type() function to tell variables class.

print(type(a))
print(type(d))

<class 'int'>
<class 'complex'>

_Type Conversion_

_The process of converting the value of one data type (integer, string, float, etc.) to another is called type conversion. Python has two types of type conversion:_

_1. Implicit: Implicit conversion doesn't need any user involvement._

_2. Explicit: In case of explicit conversion, we convert the datatype of an object to the required data type. We use predefined functions like int(), float(), str() etc. to perform explicit type conversion._

In [20]:
# Type Conversion 

print(int(c))
print(float(a))
print(complex(b))

3
-7.0
(1e+18+0j)

In [0]:
import math

In [22]:
print(math.ceil(3.5566754))
print(math.exp(3))
print(math.factorial(3))
print(math.log(2))
print(math.sqrt(4))
print(math.pi)
print(math.isnan(3))
print(math.isinf(3))
print(math.isnan(math.nan))
print(math.isinf(math.inf))

# https://docs.python.org/3/library/math.html#

4
20.085536923187668
6
0.6931471805599453
2.0
3.141592653589793
False
False
True
True

In [23]:
bool(4)

True

In [24]:
bool(0)

False

In [25]:
bool(False)

False

In [26]:
bool(0.1)

True

#### STRINGS

*A Python string is a sequence of characters. There is a built-in class ‘str’ for handling Python string.*

In [27]:
string1='I am learning Python Programming'
print(string1)

I am learning Python Programming

In [28]:
string2='I am learning "Python Programming"'
print(string2)

I am learning "Python Programming"

In [29]:
# Accessing String Element

print(string1[0])

I

In [30]:
# A string is immutable; it can’t be changed.

string1[0] = 'You'
print(string1)

TypeError: ignored

In [31]:
# Slicing a string 

print(string1[3:10])
print(string1[:])
print(string1[:-2])
print(string1[-1])

m learn
I am learning Python Programming
I am learning Python Programmi
g

In [32]:
# Concatenation 

string1 = 'I love'
string2 = ' Python Programming'

print(string1+string2)

I love Python Programming

In [33]:
# Formatting

city='Delhi'

print("Name",'Piyush',"City",city)

Name Piyush City Delhi

In [34]:
language = input('Enter Programming Language:')
print(f"I am learning {language} Programming")

Enter Programming Language:PYTHON
I am learning PYTHON Programming

In [35]:
print("I love {0}".format(language))

I love PYTHON

In [36]:
a = 'Python'
b = 'Language'

print("I love %s %s" %(a,b))

# %d – for integers
# %f – for floating-point numbers

I love Python Language

In [37]:
print("Hell\to")

Hell	o

In [38]:
# String Functions

string1 = 'Python'

print(len(string1))

print(str(['red','green','blue']))

print(string1.lower())

print(string1.upper())

string2 = ' Language '
print(string2.strip())

string3 = '9876'
print(string3.isdigit())

print(string2.isalpha())

print(string1.startswith('P'))

print(string1.endswith('n'))

print(string1.find('yth'))

print(string3.replace('8','9'))

string4 = 'Hi.How.Are.You?'
print(string4.split('.'))

print('*'.join(['red','green','yellow']))

6
['red', 'green', 'blue']
python
PYTHON
Language
True
False
True
True
1
9976
['Hi', 'How', 'Are', 'You?']
red*green*yellow

In [39]:
# Membership

print('on' in 'Python')

print('iyush' not in 'Piyush')

True
False

In [40]:
# Identity

print('Hey' is 'Hi')

print('Yo' is not 'yo')

False
True

In [41]:
# iterating string

count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found

In [42]:
str = 'piyush'

# enumerate()
list_enumerate = list(enumerate(str))
print('list(enumerate(str) = ', list_enumerate)

#character count
print('len(str) = ', len(str))

list(enumerate(str) =  [(0, 'p'), (1, 'i'), (2, 'y'), (3, 'u'), (4, 's'), (5, 'h')]
len(str) =  6

In [43]:
# Count a sub string

string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

# print count
print("The count is:", count)

The count is: 2

In [44]:

# Get index of string 

sentence = 'Python programming is fun.'

result = sentence.index('is fun')
print("Substring 'is fun':", result)

Substring 'is fun': 19

In [45]:
# Format method

# default(implicit) order
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
John, Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John

#### LISTS

*Lists are just like the arrays, declared in other languages. Lists need not be homogeneous always which makes it a most powerful tool in Python. A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are mutable, and hence, they can be altered even after their creation.*

*List in Python are ordered and have a definite count. The elements in a list are indexed according to a definite sequence and the indexing of a list is done with 0 being the first index. Each element in the list has its definite place in the list, which allows duplicating of elements in the list, with each element having its own distinct place and credibility.*

*Lists in Python can be created by just placing the sequence inside the square brackets[].*

In [46]:
# Python program to demonstrate Creation of List  
  
# Creating a List 
List = [] 
print("Intial blank List: ") 
print(List) 
  
# Creating a List with the use of a String 
List = ['Python Programming'] 
print("\nList with the use of String: ") 
print(List) 
  
# Creating a List with the use of multiple values 
List = ["Python", "Programming"] 
print("\nList containing multiple values: ") 
print(List[0])  
print(List[1]) 
  
# Creating a Multi-Dimensional List (By Nesting a list inside a List) 
List = [['Python', 'Programming'] , [2]] 
print("\nMulti-Dimensional List: ") 
print(List) 

# Creating a List with the use of Numbers (Having duplicate values) 
List = [1, 2, 4, 4, 3, 3, 3, 6, 5] 
print("\nList with the use of Numbers: ") 
print(List)

print(type(List))

Intial blank List:
[]

List with the use of String:
['Python Programming']

List containing multiple values:
Python
Programming

Multi-Dimensional List:
[['Python', 'Programming'], [2]]

List with the use of Numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]
<class 'list'>

In [47]:
# APPEND FUNCTION

# Python program to demonstrate Addition of elements in a List 
  
# Creating a List 
List = [] 
print("Initial blank List: ") 
print(List) 
  
# Addition of Elements in the List 
List.append(1) 
List.append(2) 
List.append(4) 
print("\nList after Addition of Three elements: ") 
print(List) 
  
# Adding elements to the List using Iterator 
for i in range(1, 4): 
    List.append(i) 
print("\nList after Addition of elements from 1-3: ") 
print(List) 
  
# Adding Tuples to the List 
List.append((5, 6)) 
print("\nList after Addition of a Tuple: ") 
print(List) 

# Addition of List to a List 
List2 = ['For', 'Python'] 
List.append(List2) 
print("\nList after Addition of a List: ") 
print(List)

Initial blank List:
[]

List after Addition of Three elements:
[1, 2, 4]

List after Addition of elements from 1-3:
[1, 2, 4, 1, 2, 3]

List after Addition of a Tuple:
[1, 2, 4, 1, 2, 3, (5, 6)]

List after Addition of a List:
[1, 2, 4, 1, 2, 3, (5, 6), ['For', 'Python']]

In [48]:
# INSERT FUNCTION 

# Python program to demonstrate Addition of elements in a List 
   
# Creating a List 
List = [1,2,3,4] 
print("Initial List: ") 
print(List) 
  
# Addition of Element at specific Position (using Insert Method) 
List.insert(3, 12) 
List.insert(0, 'Python') 
print("\nList after performing Insert Operation: ") 
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['Python', 1, 2, 3, 12, 4]

In [49]:
# EXTEND FUNCTION

# Python program to demonstrate Addition of elements in a List 
    
# Creating a List 
List = [1,2,3,4] 
print("Initial List: ") 
print(List) 
  
# Addition of multiple elements 
# to the List at the end 
# (using Extend Method) 
List.extend([8, 'Python', 'Programming']) 
print("\nList after performing Extend Operation: ") 
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Extend Operation:
[1, 2, 3, 4, 8, 'Python', 'Programming']

In [50]:
# REMOVE FUNCTION

# Python program to demonstrate Removal of elements in a List 
  
# Creating a List 
List = [1, 2, 3, 4, 5, 6,  
        7, 8, 9, 10, 11, 12] 
print("Intial List: ") 
print(List) 
  
# Removing elements from List using Remove() method 
List.remove(5) 
List.remove(6) 
print("\nList after Removal of two elements: ") 
print(List) 
  
# Removing elements from List using iterator method 
for i in range(1, 5): 
    List.remove(i) 
print("\nList after Removing a range of elements: ") 
print(List)

Intial List:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

List after Removal of two elements:
[1, 2, 3, 4, 7, 8, 9, 10, 11, 12]

List after Removing a range of elements:
[7, 8, 9, 10, 11, 12]

In [51]:
# SLICING OF LIST
  
# Creating a List 
List = ['P','Y','T','H','O','N',' ','P','R','O','G','R','A','M','M','I','N','G'] 
print("Intial List: ") 
print(List) 
  
# Print elements of a range 
# using Slice operation 
Sliced_List = List[3:8] 
print("\nSlicing elements in a range 3-8: ") 
print(Sliced_List) 
  
# Print elements from a  
# pre-defined point to end 
Sliced_List = List[5:] 
print("\nElements sliced from 5th "
      "element till the end: ") 
print(Sliced_List) 
  
# Printing elements from 
# beginning till end 
Sliced_List = List[:] 
print("\nPrinting all elements using slice operation: ") 
print(Sliced_List) 

# Print elements from beginning 
# to a pre-defined point using Slice 
Sliced_List = List[:-6] 
print("\nElements sliced till 6th element from last: ") 
print(Sliced_List) 
  
# Print elements of a range 
# using negative index List slicing 
Sliced_List = List[-6:-1] 
print("\nElements sliced from index -6 to -1") 
print(Sliced_List) 
  
# Printing elements in reverse 
# using Slice operation 
Sliced_List = List[::-1] 
print("\nPrinting List in reverse: ") 
print(Sliced_List)

Intial List:
['P', 'Y', 'T', 'H', 'O', 'N', ' ', 'P', 'R', 'O', 'G', 'R', 'A', 'M', 'M', 'I', 'N', 'G']

Slicing elements in a range 3-8:
['H', 'O', 'N', ' ', 'P']

Elements sliced from 5th element till the end:
['N', ' ', 'P', 'R', 'O', 'G', 'R', 'A', 'M', 'M', 'I', 'N', 'G']

Printing all elements using slice operation:
['P', 'Y', 'T', 'H', 'O', 'N', ' ', 'P', 'R', 'O', 'G', 'R', 'A', 'M', 'M', 'I', 'N', 'G']

Elements sliced till 6th element from last:
['P', 'Y', 'T', 'H', 'O', 'N', ' ', 'P', 'R', 'O', 'G', 'R']

Elements sliced from index -6 to -1
['A', 'M', 'M', 'I', 'N']

Printing List in reverse:
['G', 'N', 'I', 'M', 'M', 'A', 'R', 'G', 'O', 'R', 'P', ' ', 'N', 'O', 'H', 'T', 'Y', 'P']

In [52]:
# FUNCTIONS

# List of Integers 
numbers = [1, 3, 4, 2] 
  
## SORT

# Sorting list of Integers 
numbers.sort()
print(numbers)

# Sorting list of Integers 
numbers.sort(reverse=True)
print(numbers)

# sorted doesn't change the original list
print(sorted(numbers))
print(numbers)

## LENGTH
print(len(numbers))

## COUNT
print(numbers.count(1))

## INDEX
print(numbers.index(3))

## SUM
print(sum(numbers))

[1, 2, 3, 4]
[4, 3, 2, 1]
[1, 2, 3, 4]
[4, 3, 2, 1]
4
1
1

TypeError: ignored

In [53]:
# ENUMERATE

# Python program to illustrate enumerate function in loops 
l1 = ["eat","sleep","repeat"] 
  
# printing the tuples in object directly 
for ele in enumerate(l1): 
    print (ele) 

# changing index and printing separately 
for count,ele in enumerate(l1,100): 
    print (count,ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
100 eat
101 sleep
102 repeat

In [54]:
# FILTER

# a list contains both even and odd numbers.  
seq = [0, 1, 2, 3, 5, 8, 13] 
  
# result contains odd numbers of the list 
result = filter(lambda x: x % 2, seq) 
print(list(result)) 
  
# result contains even numbers of the list 
result = filter(lambda x: x % 2 == 0, seq) 
print(list(result)) 

# result contains odd numbers of the list using a function
def odd(x):
  if(x%2):
    return x

result = filter(odd,seq)
print(list(result))


# MAP

# result contains each element of the list multiplied by 2 using a lambda function
result = map(lambda x: x*2 , seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]
[1, 3, 5, 13]
[0, 2, 4, 6, 10, 16, 26]

In [55]:
# Iterating through the list

for i in [1,2,3]:
  if i%2==0:
    print(f"{i} is even\n")

# using range function till length of list
for i in range(0,len(numbers)):
  print(numbers[i])

2 is even

4
3
2
1

In [56]:
# LIST COMPREHENSION: [ expression for item in list if conditional ]

new_range  = [i * i for i in range(5) if i % 2 == 0]
print(new_range)

# This is replacement to :
for i in range(5):
  if(i%2==0):
    print(i*i)

[0, 4, 16]
0
4
16

In [57]:
obj = ["Even" if i%2==0 else "Odd" for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [58]:
new_range  = [i * i if i%2 == 0 else i*i*i for i in range(5) ]
print(new_range)

[0, 1, 4, 27, 16]

In [59]:
[x.upper() for x in ["a","b","c"]]

['A', 'B', 'C']

In [60]:
[x+y for x in [10,30,50] for y in [20,40,60]]

[30, 50, 70, 50, 70, 90, 70, 90, 110]

In [61]:
quote = "life, uh, finds a way"
unique_vowels = [i for i in quote if i in 'aeiou']
unique_vowels

['i', 'e', 'u', 'i', 'a', 'a']

In [62]:
original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
prices = [i if i > 0 else 0 for i in original_prices]
prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [63]:
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz']

# iterate over the list using index
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz

#### TUPLES

*Tuple is a collection of Python objects much like a list. The sequence of values stored in a tuple can be of any type, and they are indexed by integers. The important difference between a list and a tuple is that tuples are immutable. Also, Tuples are hashable whereas lists are not.*

*Values of a tuple are syntactically separated by ‘commas’. Although it is not necessary, it is more common to define a tuple by closing the sequence of values in parentheses. This helps in understanding the Python tuples more easily.*

*Tuples are immutable, and usually, they contain a sequence of heterogeneous elements that are accessed via unpacking or indexing (or even by attribute in the case of named tuples). Lists are mutable, and their elements are usually homogeneous and are accessed by iterating over the list.*

In [64]:
# Python program to demonstrate Addition of elements in a Set 
  
# Creating an empty tuple 
Tuple1 = () 
print("Initial empty Tuple: ") 
print (Tuple1) 
  
# Creating a Tuple with the use of Strings 
Tuple1 = ('Python', 'Programming') 
print("\nTuple with the use of String: ") 
print(Tuple1) 
  
# Creating a Tuple with the use of list 
list1 = [1, 2, 4, 5, 6] 
print("\nTuple using List: ") 
print(tuple(list1)) 
  
# Creating a Tuple with the use of loop 
Tuple1 = ('Python') 
n = 5
print("\nTuple with a loop") 
for i in range(int(n)): 
    Tuple1 = (Tuple1,) 
    print(Tuple1) 
  
# Creating a Tuple with the use of built-in function 
Tuple1 = tuple('Piyush') 
print("\nTuple with the use of function: ") 
print(Tuple1) 
  
# Creating a Tuple with Mixed Datatypes 
Tuple1 = (5, 'Welcome', 7, 'Piyush') 
print("\nTuple with Mixed Datatypes: ") 
print(Tuple1) 
  
# Creating a Tuple with nested tuples 
Tuple1 = (0, 1, 2, 3) 
Tuple2 = ('python', 'programming') 
Tuple3 = (Tuple1, Tuple2) 
print("\nTuple with nested tuples: ") 
print(Tuple3) 
  
# Creating a Tuple with repetition 
Tuple1 = ('Python',) * 3
print("\nTuple with repetition: ") 
print(Tuple1)

Initial empty Tuple:
()

Tuple with the use of String:
('Python', 'Programming')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with a loop
('Python',)
(('Python',),)
((('Python',),),)
(((('Python',),),),)
((((('Python',),),),),)

Tuple with the use of function:
('P', 'i', 'y', 'u', 's', 'h')

Tuple with Mixed Datatypes:
(5, 'Welcome', 7, 'Piyush')

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'programming'))

Tuple with repetition:
('Python', 'Python', 'Python')

In [65]:
# TUPLE PACKING
# Python tuple without parentheses. This is called tuple packing.

b= 1, 2.0, 'three'
print(b)

# TUPLE UNPACKING
# Python tuple unpacking is when you assign values from a tuple to a sequence of variables in python.

percentages=(99,95,90,89,93,96)
a,b,c,d,e,f=percentages
print(c)

#This is because only immutable values can be hashed. Hence, we can only set immutable values like tuples as keys.

(1, 2.0, 'three')
90

#### SETS

*Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements. The order of elements in a set is undefined though it may consist of various elements.*

*The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.*

In [66]:
# Python program to demonstrate Creation of Set in Python 
  
# Creating a Set 
set1 = set() 
print("Intial blank Set: ") 
print(set1) 
  
# Creating a Set with  
# the use of a String 
set1 = set("Python Programming") 
print("\nSet with the use of String: ") 
print(set1) 
  
# Creating a Set with 
# the use of Constructor 
# (Using object to Store String) 
String = 'Python Programming'
set1 = set(String) 
print("\nSet with the use of an Object: " ) 
print(set1) 
  
# Creating a Set with 
# the use of a List 
set1 = set(["Python", "Programming"]) 
print("\nSet with the use of List: ") 
print(set1)

Intial blank Set:
set()

Set with the use of String:
{'h', ' ', 'a', 'g', 'o', 'n', 'i', 'r', 'm', 'P', 'y', 't'}

Set with the use of an Object:
{'h', ' ', 'a', 'g', 'o', 'n', 'i', 'r', 'm', 'P', 'y', 't'}

Set with the use of List:
{'Programming', 'Python'}

In [67]:
# Adding element and tuple to the Set 
set1.add(8) 
set1.add(9) 
set1.add((6,7)) 
print("\nSet after Addition of Three elements: ") 
print(set1) 
  
# Adding elements to the Set 
# using Iterator 
for i in range(1, 10): 
    set1.add(i) 
print("\nSet after Addition of elements from 1-5: ") 
print(set1)

Set after Addition of Three elements:
{'Programming', (6, 7), 8, 9, 'Python'}

Set after Addition of elements from 1-5:
{1, 'Programming', 2, (6, 7), 3, 4, 5, 8, 9, 6, 7, 'Python'}

In [68]:
# Accessing element using for loop 

# Set items cannot be accessed by referring to an index, since sets are unordered the items has no index. 
# But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

print("\nElements of set: ") 
for i in set1: 
    print(i, end=" ") 

# Removing elements from Set using Remove() method 
set1.remove(5) 
set1.remove(6) 
print("\nSet after Removal of two elements: ") 
print(set1) 
  
# Removing elements from Set using Discard() method 
set1.discard(8) 
set1.discard(9) 
print("\nSet after Discarding two elements: ") 
print(set1)

Elements of set:
1 Programming 2 (6, 7) 3 4 5 8 9 6 7 Python
Set after Removal of two elements:
{1, 'Programming', 2, (6, 7), 3, 4, 8, 9, 7, 'Python'}

Set after Discarding two elements:
{1, 'Programming', 2, (6, 7), 3, 4, 7, 'Python'}

#### DICTIONARY

*Dictionary in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds **key:value** pair.*

*Key value is provided in the dictionary to make it more optimized. Each key-value pair in a Dictionary is separated by a colon :, whereas each key is separated by a ‘comma’.*

In [69]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 
  
# Creating a Dictionary  
# with Integer Keys 
Dict = {1: 'Piyush', 2: 'Singla'}
print("\nDictionary with the use of Integer Keys: ") 
print(Dict) 
  
# Creating a Dictionary  
# with Mixed keys 
Dict = {'Name': 'Piyush', 1: [1, 2, 3, 4]} 
print("\nDictionary with the use of Mixed Keys: ") 
print(Dict) 
  
# Creating a Dictionary 
# with dict() method 
Dict = dict({1: 'Python', 2: 'Programming'})
print("\nDictionary with the use of dict(): ") 
print(Dict) 
  
# Creating a Dictionary 
# with each item as a Pair 
Dict = dict([(1, 'Piyush'), (2, 'Singla')]) 
print("\nDictionary with each item as a pair: ") 
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of Integer Keys:
{1: 'Piyush', 2: 'Singla'}

Dictionary with the use of Mixed Keys:
{'Name': 'Piyush', 1: [1, 2, 3, 4]}

Dictionary with the use of dict():
{1: 'Python', 2: 'Programming'}

Dictionary with each item as a pair:
{1: 'Piyush', 2: 'Singla'}

In [70]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 
  
# Adding elements one at a time 
Dict[0] = 'P'
Dict[2] = 'S'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ") 
print(Dict) 
  
# Adding set of values  
# to a single Key 
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ") 
print(Dict) 
  
# Updating existing Key's Value 
Dict[2] = 'Welcome'
print("\nUpdated key value: ") 
print(Dict) 
  
# Adding Nested Key value to Dictionary 
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'Python'}} 
print("\nAdding a Nested Key: ") 
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'P', 2: 'S', 3: 1}

Dictionary after adding 3 elements:
{0: 'P', 2: 'S', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'P', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'P', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Python'}}}

In [71]:
# Accessing Elements

# Accessing a element using key 
print("Acessing a element using key:") 
print(Dict['Value_set']) 
  
# accessing a element using key 
print("Acessing a element using key:") 
print(Dict[2]) 
  
# accessing a element using get() 
# method 
print("Acessing a element using get:") 
print(Dict.get(3))

Acessing a element using key:
(2, 3, 4)
Acessing a element using key:
Welcome
Acessing a element using get:
1

In [72]:
# DELETING FROM DICTINARY

# Initial Dictionary 
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'Python', 
        'A' : {1 : 'Programming', 2 : 'For', 3 : 'ML'}, 
        'B' : {1 : 'and', 2 : 'AI'}} 
print("Initial Dictionary: ") 
print(Dict) 
  
# Deleting a Key value 
del Dict[6] 
print("\nDeleting a specific key: ") 
print(Dict) 
  
# Deleting a Key from 
# Nested Dictionary 
del Dict['A'][2] 
print("\nDeleting a key from Nested Dictionary: ") 
print(Dict) 
  
# Deleting a Key  
# using pop() 
Dict.pop(5) 
print("\nPopping specific element: ") 
print(Dict) 
  
# Deleting an arbitrary Key-value pair 
# using popitem() 
Dict.popitem() 
print("\nPops an arbitrary key-value pair: ") 
print(Dict) 
  
# Deleting entire Dictionary 
Dict.clear() 
print("\nDeleting Entire Dictionary: ") 
print(Dict)

Initial Dictionary:
{5: 'Welcome', 6: 'To', 7: 'Python', 'A': {1: 'Programming', 2: 'For', 3: 'ML'}, 'B': {1: 'and', 2: 'AI'}}

Deleting a specific key:
{5: 'Welcome', 7: 'Python', 'A': {1: 'Programming', 2: 'For', 3: 'ML'}, 'B': {1: 'and', 2: 'AI'}}

Deleting a key from Nested Dictionary:
{5: 'Welcome', 7: 'Python', 'A': {1: 'Programming', 3: 'ML'}, 'B': {1: 'and', 2: 'AI'}}

Popping specific element:
{7: 'Python', 'A': {1: 'Programming', 3: 'ML'}, 'B': {1: 'and', 2: 'AI'}}

Pops an arbitrary key-value pair:
{7: 'Python', 'A': {1: 'Programming', 3: 'ML'}}

Deleting Entire Dictionary:
{}

In [0]:
# FUNCTIONS

# stores name and corresponding salaries 
salary = {"Piyush" : 50000, "Sneha" : 60000, "Ruchika" : 5000}  
  
# stores the salaries only 
list1 = salary.values()  
print(sum(list1))  # prints the sum of all salaries 

print(salary.items())

### OPERATORS

#### ARITHMETIC OPERATORS

In [74]:
# Examples of Arithmetic Operator 
a = 9
b = 4
  
# Addition of numbers 
add = a + b 
# Subtraction of numbers  
sub = a - b 
# Multiplication of number  
mul = a * b 
# Division(float) of number  
div1 = a / b 
# Division(floor) of number  
div2 = a // b 
# Modulo of both number 
mod = a % b 
  
# print results 
print(add) 
print(sub) 
print(mul) 
print(div1) 
print(div2) 
print(mod)

13
5
36
2.25
2
1

#### RELATIONAL OPERATORS

In [75]:
# Examples of Relational Operators 
a = 13
b = 33
  
# a > b is False 
print(a > b) 
  
# a < b is True 
print(a < b) 
  
# a == b is False 
print(a == b) 
  
# a != b is True 
print(a != b) 
  
# a >= b is False 
print(a >= b) 
  
# a <= b is True 
print(a <= b)

False
True
False
True
False
True

#### LOGICAL OPERATORS

In [76]:
# Examples of Logical Operator 
a = True
b = False
  
# Print a and b is False 
print(a and b) 
  
# Print a or b is True 
print(a or b) 
  
# Print not a is False 
print(not a)

False
True
False

#### IDENTITY OPERATORS

In [77]:
# Examples of Identity operators 
a1 = 3
b1 = 3
a2 = 'Python'
b2 = 'Python'
a3 = [1,2,3] 
b3 = [1,2,3] 
  
  
print(a1 is not b1) 
  
  
print(a2 is b2) 
  
# Output is False, since lists are mutable. 
print(a3 is b3)

False
True
False

#### MEMBERSHIP OPERATORS

In [78]:
# Examples of Membership operator 
x = 'Python Programming'
y = {3:'a',4:'b'} 
  
  
print('P' in x) 
  
print('python' not in x) 
  
print('Python' not in x) 
  
print(3 in y) 
  
print('b' in y)

True
True
False
True
False

### DECISION MAKING

#### IF

In [79]:
i = 10
if (i > 15): 
   print ("10 is less than 15") 
print ("I am Not in if")

I am Not in if

#### IF-ELSE

In [80]:
i = 20; 
if (i < 15): 
    print ("i is smaller than 15") 
    print ("i'm in if Block") 
else: 
    print ("i is greater than 15") 
    print ("i'm in else Block") 
print ("i'm not in if and not in else Block")

i is greater than 15
i'm in else Block
i'm not in if and not in else Block

#### NESTED IF-ELSE

In [81]:
i = 10
if (i == 10): 
    #  First if statement 
    if (i < 15): 
        print ("i is smaller than 15") 
    # Nested - if statement 
    # Will only be executed if statement above 
    # it is true 
    if (i < 12): 
        print ("i is smaller than 12 too") 
    else: 
        print ("i is greater than 15")

i is smaller than 15
i is smaller than 12 too

#### IF-ELIF

In [82]:
i = 20
if (i == 10): 
    print ("i is 10") 
elif (i == 15): 
    print ("i is 15") 
elif (i == 20): 
    print ("i is 20") 
else: 
    print ("i is not present")

i is 20

### LOOPS

#### WHILE LOOP

In [83]:
# Python program to illustrate while loop 
count = 0
while (count < 3):     
    count = count + 1
    print("Hello Python")

Hello Python
Hello Python
Hello Python

#### FOR LOOP

In [84]:
# Iterating over a String 
print("\nString Iteration")     
s = "Python"
for i in s : 
    print(i)

String Iteration
P
y
t
h
o
n

#### CONTROL STATEMENTS

In [85]:
# Continue Statement: It returns the control to the beginning of the loop.

# Prints all letters except 'e' and 's' 
for letter in 'PythonProgramming':  
    if letter == 'g' or letter == 'P': 
         continue
    print ('Current Letter :', letter)
    var = 10

Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n
Current Letter : r
Current Letter : o
Current Letter : r
Current Letter : a
Current Letter : m
Current Letter : m
Current Letter : i
Current Letter : n

In [86]:
# Break Statement: It brings control out of the loop
for letter in 'PythonProgramming':  
    if letter == 'g' or letter == 'o': 
         break
  
print ('Current Letter :', letter)

Current Letter : o

In [87]:
# An empty loop 
for letter in 'PythonProgramming': 
    pass
print ('Last Letter :', letter)

Last Letter : g

### FUNCTION DECLARATION

In [0]:
# A simple Python function to check whether x is even or odd 

def evenOdd( x ): 
    if (x % 2 == 0): 
        print ("even")
    else: 
        print ("odd")

In [89]:
# This function returns mulitple objects 
def fun(): 
    str = "Python Programming"
    x   = 20
    return str, x;  # Return tuple, we could also 
                    # write (str, x) 
  
# Driver code to test above method 
str, x = fun() # Assign returned tuple 
print(str) 
print(x)

Python Programming
20

In [90]:
# An example of a recursive function to
# find the factorial of a number

def calc_factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * calc_factorial(x-1))

num = 4
print("The factorial of", num, "is", calc_factorial(num))

The factorial of 4 is 24

In [91]:
# zip() Function 

# Python code to demonstrate the working of  
# zip() 
  
# initializing lists 
name = [ "Piyush", "Abhishek", "Shivi", "Raj" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ] 
  
# using zip() to map values 
mapped = zip(name, roll_no, marks) 
  
# converting values to print as set 
mapped = set(mapped) 
  
# printing resultant values  
print ("The zipped result is : ",end="") 
print (mapped)

The zipped result is : {('Shivi', 3, 60), ('Piyush', 4, 40), ('Raj', 2, 70), ('Abhishek', 1, 50)}

##### FUNCTIONS EXAMPLES

In [92]:
# Program to count Vowels in string

# Program to count the number of each vowel in a string

# string of vowels
vowels = 'aeiou'

# change this value for a different result
ip_str = 'Hello, have you tried our turorial section yet?'

# uncomment to take input from the user
#ip_str = input("Enter a string: ")

# make it suitable for caseless comparisions
ip_str = ip_str.casefold()

# make a dictionary with each vowel a key and value 0
count = {}.fromkeys(vowels,0)

# count the vowels
for char in ip_str:
   if char in count:
       count[char] += 1

print(count)

{'a': 2, 'e': 5, 'i': 3, 'o': 5, 'u': 3}

In [93]:
# Using loops Print Fibonnaci Series

# Program to display the Fibonacci sequence up to n-th term where n is provided by the user

# change this value for a different result
nterms = 10

# uncomment to take input from the user
#nterms = int(input("How many terms? "))

# first two terms
n1 = 0
n2 = 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
       print("Please enter a positive integer")
elif nterms == 1:
       print("Fibonacci sequence upto",nterms,":")
       print(n1)
else:
       print("Fibonacci sequence upto",nterms,":")
       while count < nterms:
           print(n1,end=' , ')
           nth = n1 + n2
           # update values
           n1 = n2
           n2 = nth
           count += 1

Fibonacci sequence upto 10 :
0 , 1 , 1 , 2 , 3 , 5 , 8 , 13 , 21 , 34 ,

In [94]:
# Python program to display all the prime numbers within an interval

# change the values of lower and upper for a different result
lower = 900
upper = 1000

# uncomment the following lines to take input from the user
#lower = int(input("Enter lower range: "))
#upper = int(input("Enter upper range: "))

print("Prime numbers between",lower,"and",upper,"are:")

for num in range(lower,upper + 1):
   # prime numbers are greater than 1
   if num > 1:
       for i in range(2,num): # number should be divisible by 1 and itself
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [95]:
# Python program to check if the input year is a leap year or not

year = 2000

# To get year (integer input) from the user
# year = int(input("Enter a year: "))

if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

2000 is a leap year

##### FILTER & MAP FUNCTION

In [96]:
# Program to filter out only the even items from a list

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))
print(new_list)

[4, 6, 8, 12]

In [97]:

# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * 2 , my_list))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

##### ITERATOR

_Iterators are everywhere in Python. They are elegantly implemented within for loops, comprehensions, generators etc. but hidden in plain sight._

_Iterator in Python is simply an object that can be iterated upon. An object which will return data, one element at a time._

_Technically speaking, Python iterator object must implement two special methods, iter() and next(), collectively called the iterator protocol._

_An object is called iterable if we can get an iterator from it. Most of built-in containers in Python like: list, tuple, string etc. are iterables._

_The iter() function (which in turn calls the iter() method) returns an iterator from them._

In [98]:
# define a list
my_list = [4, 7, 0, 3]

# get an iterator using iter()
my_iter = iter(my_list)

## iterate through it using next() 
print(next(my_iter))
print(next(my_iter))

4
7

### EXCEPTION HANDLING

In [99]:
# Python program to handle simple runtime error 
  
a = [1, 2, 3] 
try:  
    print ("Second element = %d" %(a[1]))
  
    # Throws error since there are only 3 elements in array 
    print ("Fourth element = %d" %(a[3]))
except IndexError: 
    print ("An error occurred")

Second element = 2
An error occurred

### COPY IN PYTHON (DEEP AND SHALLOW)

In [0]:
# importing copy module 
import copy 
  
# initializing list 1  
li1 = [1, 2, [3,5], 4] 
  
# using copy for shallow copy   
li2 = copy.copy(li1)  
  
# using deepcopy for deepcopy   
li3 = copy.deepcopy(li1)  

# In the above code, the copy() returns a shallow copy of list and deepcopy() return a deep copy of list.

In [101]:
# Python code to demonstrate DEEP copy operations 
  
# importing "copy" for copy operations 
import copy 
  
# initializing list 1 
li1 = [1, 2, [3,5], 4] 
  
# using deepcopy to deep copy  
li2 = copy.deepcopy(li1) 
  
# original elements of list 
print ("The original elements before deep copying") 
for i in range(0,len(li1)): 
    print (li1[i],end=" ") 
  
print("\r") 
  
# adding and element to new list 
li2[2][0] = 7
  
# Change is reflected in l2  
print ("The new list of elements after deep copying ") 
for i in range(0,len( li1)): 
    print (li2[i],end=" ") 
  
print("\r") 
  
# Change is NOT reflected in original list 
# as it is a deep copy 
print ("The original elements after deep copying") 
for i in range(0,len( li1)): 
    print (li1[i],end=" ")

The original elements before deep copying
1 2 [3, 5] 4
The new list of elements after deep copying
1 2 [7, 5] 4
The original elements after deep copying
1 2 [3, 5] 4

In [102]:
# Python code to demonstrate SHALLOW copy operations 
  
# importing "copy" for copy operations 
import copy 
  
# initializing list 1 
li1 = [1, 2, [3,5], 4] 
  
# using copy to shallow copy  
li2 = copy.copy(li1) 
  
# original elements of list 
print ("The original elements before shallow copying") 
for i in range(0,len(li1)): 
    print (li1[i],end=" ") 
  
print("\r") 
  
# adding and element to new list 
li2[2][0] = 7
  
# checking if change is reflected 
print ("The original elements after shallow copying") 
for i in range(0,len( li1)): 
    print (li1[i],end=" ")

The original elements before shallow copying
1 2 [3, 5] 4
The original elements after shallow copying
1 2 [7, 5] 4

### RANDOM NUMBER

In [103]:
# Python code to demonstrate the working of 
# random() and seed() 
   
# importing "random" for random operations 
import random 
  
# using random() to generate a random number 
# between 0 and 1 
print ("A random number between 0 and 1 is : ", end="") 
print (random.random()) 
  
# using seed() to seed a random number 
random.seed(5) 
  
# printing mapped random number 
print ("The mapped random number with 5 is : ", end="") 
print (random.random()) 
  
# using seed() to seed different random number 
random.seed(7) 
  
# printing mapped random number 
print ("The mapped random number with 7 is : ", end="") 
print (random.random()) 
  
# using seed() to seed to 5 again 
random.seed(5) 
  
# printing mapped random number 
print ("The mapped random number with 5 is : ",end="") 
print (random.random()) 
  
# using seed() to seed to 7 again  
random.seed(7) 
  
# printing mapped random number 
print ("The mapped random number with 7 is : ",end="") 
print (random.random()) 

# using choice() to generate a random number from a  
# given list of numbers. 
print ("A random number from list is : ",end="") 
print (random.choice([1, 4, 8, 10, 3])) 
  
# using randrange() to generate in range from 20 
# to 50. The last parameter 3 is step size to skip 
# three numbers when selecting. 
print ("A random number from range is : ",end="") 
print (random.randrange(20, 50, 3)) 

print ("A random number from range : ",end="") 
print(random.randint(3, 9))

A random number between 0 and 1 is : 0.19658353224850167
The mapped random number with 5 is : 0.6229016948897019
The mapped random number with 7 is : 0.32383276483316237
The mapped random number with 5 is : 0.6229016948897019
The mapped random number with 7 is : 0.32383276483316237
A random number from list is : 4
A random number from range is : 38
A random number from range : 8

### DATE TIME

In [104]:
import datetime
import time

d = datetime.date(2019,12,15)
print(d)

print(datetime.date.today()) # Today date

print(time.time())

print(d.weekday())

print(datetime.datetime.now()) # Today Date Time

print(datetime.date.fromtimestamp(time.time()))

2019-12-15
2020-03-02
1583148600.3524702
6
2020-03-02 11:30:00.352931
2020-03-02

In [105]:
import datetime

datetime_object = datetime.datetime.now()
print(datetime_object)

date_object = datetime.date.today()
print(date_object)

d = datetime.date(2019, 4, 13)
print(d)

from datetime import date

today = date.today()
print("Current date =", today)

timestamp = date.fromtimestamp(1326244364)
print("Date =", timestamp)

# date object of today's date
from datetime import date, time

today = date.today() 
print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

a = time(11, 34, 56)
print("hour =", a.hour)
print("minute =", a.minute)
print("second =", a.second)
print("microsecond =", a.microsecond)

from datetime import datetime

#datetime(year, month, day)
a = datetime(2018, 11, 28)
print(a)
# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2017, 11, 28, 23, 55, 59, 342380)
print(b)

2020-03-02 11:30:00.378717
2020-03-02
2019-04-13
Current date = 2020-03-02
Date = 2012-01-11
Current year: 2020
Current month: 3
Current day: 2
hour = 11
minute = 34
second = 56
microsecond = 0
2018-11-28 00:00:00
2017-11-28 23:55:59.342380

### OS MODULE

In [106]:
import os

print(os.getcwd())

# print(os.chdir('C:\\Users\\lifei\\Desktop'))

#fd = "GFG.txt"
#os.rename(fd,'New.txt') 
#os.rename(fd,'New.txt')

print(os.name)

/content
posix

### REGEX MODULE

_A Regular Expression (RegEx) is a sequence of characters that defines a search pattern. For example,_

_^a...s$_

_The above code defines a RegEx pattern. The pattern is: any five letter string starting with a and ending with s._

1. _[] - Square brackets: Square brackets specifies a set of characters you wish to match._
2. _. - Period: A period matches any single character (except newline '\n')._
3. _\$ - Dollar: The dollar symbol $ is used to check if a string ends with a certain character._
4. _^ - Caret: The caret symbol ^ is used to check if a string starts with a certain character._
5. _* - Star: The star symbol * matches zero or more occurrences of the pattern left to it._
6. _+ - Plus: The plus symbol + matches one or more occurrences of the pattern left to it._
7. _? - Question Mark: The question mark symbol ? matches zero or one occurrence of the pattern left to it._
8. _{} - Braces: Consider this code: {n,m}. This means at least n, and at most m repetitions of the pattern left to it._
9. _| - Alternation: Vertical bar | is used for alternation (or operator)._
10. _- Backslash: Backlash \ is used to escape various characters including all metacharacters._
11. _\A - Matches if the specified characters are at the start of a string._
12. _\b - Matches if the specified characters are at the beginning or end of a word._
13. _\B - Opposite of \b. Matches if the specified characters are not at the beginning or end of a word._
14. _\d - Matches any decimal digit. Equivalent to [0-9]_
15. _\D - Matches any non-decimal digit. Equivalent to [^0-9]_
16. _\s - Matches where a string contains any whitespace character. Equivalent to [ \t\n\r\f\v]._
17. _\S - Matches where a string contains any non-whitespace character. Equivalent to [^ \t\n\r\f\v]._
18. _\w - Matches any alphanumeric character (digits and alphabets). Equivalent to [a-zA-Z0-9]. By the way, underscore is also considered an alphanumeric character./-
19. _\W - Matches any non-alphanumeric character. Equivalent to [^a-zA-Z0-9_]_
20. _\Z - Matches if the specified characters are at the end of a string._

In [107]:
import re
pattern = '^a...s$'
test_string = 'abyss'
result = re.match(pattern, test_string)
if result:
    print("Search successful.")
else:
    print("Search unsuccessful.")

Search successful.

In [108]:
# Program to remove all whitespaces

# multiline string
string = 'abc 12\
de 23 \n f45 6'
# matches all whitespace characters
pattern = '\s+'
# empty string
replace = ''
new_string = re.sub(pattern, replace, string) 
print(new_string)

abc12de23f456

In [109]:
import re

# Matching email address
match=re.search(r'([\w.-]+)@([\w-]+)\.([\w]+)','Please mail it to piyushsingla0291@gmail.com')
print(match.group())

# searching
print(re.search('program','python programming'))

match=re.search('pp?iyush?','piyus piyush')
print(match.group())

piyushsingla0291@gmail.com
<_sre.SRE_Match object; span=(7, 14), match='program'>
piyus

### DATABASE MODULE

In [110]:
!pip install pymysql
import pymysql

db=pymysql.connect("localhost","piyush","yourpassword","12345")

cursor=db.cursor()
query="select * from student where age>22"

try:
            cursor.execute(query)
            resultset=cursor.fetchall() #To fetch all records that satisfy
            for record in resultset:
                        fname=record[0]
                        lname=record[1]
                        age=record[2]
                        enrolment_no=record[3]
                        print(f"Student: {fname} {lname}; Enrolment: {enrolment_no}; Age: {age}")
except:
            print("Sorry, we encountered a problem")

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 2.4MB/s
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

OperationalError: ignored